version: '3'

services:
  apigateway:
    image: apigateway
    build:
      context: ./gateway
      dockerfile: Dockerfile
    volumes:
      - ./gateway/logs:/go/src/logs
    network_mode: "host"
    env_file: ./api.env
    
  notification:
    image: notification
    build:
      context: ./notification
      dockerfile: Dockerfile
    volumes:
      - ./notification/logs:/go/src/logs
    network_mode: "host"
    env_file: ./api.env
    depends_on:
      - apigateway

  user:
    image: user
    build:
      context: ./user
      dockerfile: Dockerfile
    volumes:
      - ./user/logs:/go/src/logs
    network_mode: "host"
    env_file: ./api.env
    depends_on:
      - apigateway
